* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: GhostWhite;
}

.container {
  max-width: 375px;
  margin: 3rem auto;
  padding: 1rem;
  border: 1px solid LightSteelBlue;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: Lavender;
  padding: 1rem;
  box-shadow: 0px 4px 10px 0px rgba(153, 137, 153, 0.5);
}